html, body {
    background: #2980B9;
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    min-width: 400px;
  }
  
  #ville {
    text-transform: capitalize;
  }
  
  #temperature {
    font-size: 4em;
  }
  
  #changer {
    background-color: #4CAF50; /* couleur de fond */
    border: none;
    color: white; /* couleur du texte */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  #myImage{
    height: 50px;
    width: 50px;
  }
  
  .text-center{
    text-align: center;
  }
  
  .input-text {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
    color: #333;
  }